openai
groq
google-generativeai
mistralai

python-dotenv
pydantic
requests
httpx

langchain
langchain-openai
langchain-google-genai
langchain-groq
langchain-community
langchain-mistralai

tiktoken
langchain_huggingface
